<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>platform</title>

	<link rel="stylesheet" type="text/css" charset="utf-8" href="../../resources/framework/easyui/themes/color.css" th:href="@{/resources/framework/easyui/themes/color.css}" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="../../resources/framework/easyui/themes/icon.css" th:href="@{/resources/framework/easyui/themes/icon.css}" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="../../resources/framework/easyui/themes/bootstrap/easyui.css" th:href="@{/resources/framework/easyui/themes/bootstrap/easyui.css}" />
	<link rel="stylesheet" type="text/css" charset="utf-8" href="../../resources/css/app.css" th:href="@{/resources/css/app.css}" />

</head>
<body>

	<div id="context" th:attr="root=@{/}" root="../../"></div>
	<div id="cache"></div>

	<script type="text/javascript" charset="utf-8" src="../../resources/framework/jquery/jquery.min.js" th:src="@{/resources/framework/jquery/jquery.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../resources/framework/easyui/jquery.easyui.min.js" th:src="@{/resources/framework/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../resources/framework/easyui/easyui-lang-zh_CN.js" th:src="@{/resources/framework/easyui/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" charset="utf-8" src="../../resources/js/app.js" th:src="@{/resources/js/app.js}"></script>

</body>
</html>
